{
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_MONSTERASP_SQL_HOST;Database=YOUR_DATABASE;User Id=YOUR_DB_USER;Password=YOUR_DB_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=True"
  }
}
